.social-media-icons {
  background: green;
  height: 30px;
}

.search {
  background: yellow;
  height: 30px;
}

.main-menu ul li,
.footer-menu ul li {
  display: inline;
}

.main-menu,
.footer-menu {
  background: lightblue;
}

.copyright,
.logo {
  background: lightcoral;
}


/* font-awesome */
.fa {
  padding-left: 2px;
}
